<div class="menu-sections">
<div class="section-header section-header--no-spacing">
<h2 class="alternate" id="beverages">
                    Beverages
                </h2>
</div>
<div class="u-space-b3">
<div class="menu-item menu-item-no-photo menu-item-placeholder-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
                                    Soda
                            </h4>
</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $1.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="section-header section-header--no-spacing">
<h2 class="alternate" id="entree">
                    Entree
                </h2>
</div>
<div class="u-space-b3">
<div class="menu-item menu-item-no-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
<a href="/menu/geo-si-gi-flushing/item/32-tukbaegi-gamja-tang">32. Tukbaegi Gamja Tang</a>
</h4>
<p class="menu-item-details-description">Potato and pork loin spicy casserole in hot stone pot.</p>

</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $14.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo menu-item-placeholder-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
                                    33. Poydagi Haejang Guk
                            </h4>
<p class="menu-item-details-description">Bone of pork with vegetables in mild soup.</p>
</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $10.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo menu-item-placeholder-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
                                    34. Ul Bbong Tang Dduk Bae Gi
                            </h4>
<p class="menu-item-details-description">Bone of pork and seafood with thick noodles. Spicy.</p>
</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $14.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo menu-item-placeholder-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
                                    35. Junjoo Kongnamul Haejang Guk
                            </h4>
<p class="menu-item-details-description">Bean sprouts in spicy soup with rice.</p>
</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $12.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo menu-item-placeholder-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
                                    36. Woorung Denjang Jjigae
                            </h4>
<p class="menu-item-details-description">Freshwater snail with soybean paste stew. Spicy.</p>
</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $13.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo menu-item-placeholder-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
                                    37. Mukeunji Kimchi Jjigae
                            </h4>
<p class="menu-item-details-description">Pickled nappa cabbage with kimchi and pork stew.</p>
</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $12.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo menu-item-placeholder-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
                                    38. Busut Bulgogi Ddukbaegi
                            </h4>
<p class="menu-item-details-description">Mushroom and bulgogi in hot stone pot.</p>
</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $13.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo menu-item-placeholder-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
                                    39. Mukenunji and Godeung-uh Jjim
                            </h4>
<p class="menu-item-details-description">Pickled nappa cabbage with mackerel casserole.</p>
</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $18.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo menu-item-placeholder-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
                                    40. Godeungeo Gui
                            </h4>
<p class="menu-item-details-description">Grilled mackerel dish.</p>
</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $15.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
<a href="/menu/geo-si-gi-flushing/item/41-seafood-soon-doo-boo">41. Seafood Soon Doo Boo</a>
</h4>
<p class="menu-item-details-description">Soft bean curb casserole in spicy broth.</p>

</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $12.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo menu-item-placeholder-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
                                    41. Beef Soon Doo Boob
                            </h4>
<p class="menu-item-details-description">Soft bean curb casserole in spicy broth.</p>
</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $12.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo menu-item-placeholder-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
                                    42. Sanuki Udon
                            </h4>
<p class="menu-item-details-description">Japanese style u-don.</p>
</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $11.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
<a href="/menu/geo-si-gi-flushing/item/43-boodae-jjigae">43. Boodae Jjigae</a>
</h4>
<p class="menu-item-details-description">Sausage stew mixed with meat and vegetable. Spicy.</p>

</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $12.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo menu-item-placeholder-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
                                    44. Don Katsu
                            </h4>
<p class="menu-item-details-description">Pork cutlet.</p>
</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $13.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo menu-item-placeholder-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
<a href="/menu/geo-si-gi-flushing/item/45-al-tang">45. Al Tang</a>
</h4>
<p class="menu-item-details-description">Role (fish egg) soup. Spicy.</p>

</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $13.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo menu-item-placeholder-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
                                    46. Saengtae Jjigae
                            </h4>
<p class="menu-item-details-description">Pollack stew. Spicy.</p>
</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $13.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo menu-item-placeholder-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
                                    47. Nakgi Dolsot
                            </h4>
<p class="menu-item-details-description">Cuttle fish or octopus bibimbap in hot stone pot.</p>
</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $14.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo menu-item-placeholder-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
                                    47. O Jing Auh Dolsot
                            </h4>
<p class="menu-item-details-description">Cuttle fish or octopus bibimbap in hot stone pot.</p>
</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $14.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo menu-item-placeholder-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
                                    48. Jae Yuk Dolsot
                            </h4>
<p class="menu-item-details-description">Bibimbap with pork and vegetables in hot stone pot.</p>
</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $14.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo menu-item-placeholder-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
                                    49. Naju Woo Rung Ssam Bap
                            </h4>
<p class="menu-item-details-description">Rice wrapped in assorted vegetables with pond snails.</p>
</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $19.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="section-header section-header--no-spacing">
<h2 class="alternate" id="delicious-gamja-tang">
                    Delicious Gamja Tang
                </h2>
</div>
<div class="u-space-b3">
<div class="menu-item menu-item-no-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
<a href="/menu/geo-si-gi-flushing/item/1-geo-si-gi-gamja-tang">1. Geo Si Gi Gamja Tang</a>
</h4>
<p class="menu-item-details-description">Vegetable with pork loin casserole.</p>

</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $33.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
<a href="/menu/geo-si-gi-flushing/item/2-uh-geo-gi-gamja-tang">2. Uh Geo Gi Gamja Tang</a>
</h4>
<p class="menu-item-details-description">Dried cabbage with vegetables and pork loin casserole.</p>

</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $35.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
<a href="/menu/geo-si-gi-flushing/item/3-muk-eun-gi-gamja-tang">3. Muk Eun Gi Gamja Tang</a>
</h4>
<p class="menu-item-details-description">Pickled nappa cabbage with vegetables and pork loin casserole.</p>

</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $37.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo menu-item-placeholder-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
<a href="/menu/geo-si-gi-flushing/item/4-curry-gamja-tang">4. Curry Gamja Tang</a>
</h4>
<p class="menu-item-details-description">Curry with vegetables and pork loin casserole.</p>

</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $33.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo menu-item-placeholder-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
<a href="/menu/geo-si-gi-flushing/item/5-haemul-nakgi-gamja-tang">5. Haemul Nakgi Gamja Tang</a>
</h4>
<p class="menu-item-details-description">Seafood, small octopus with vegetables and pork loin casserole.</p>

</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $44.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo menu-item-placeholder-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
                                    6. Ui Bbong Tang
                            </h4>
<p class="menu-item-details-description">Seafood, vegetables, noodle and pork loin casserole.</p>
</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $35.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="section-header section-header--no-spacing">
<h2 class="alternate" id="geo-si-gi-cuisine">
                    Geo Si Gi Cuisine
                </h2>
</div>
<div class="u-space-b3">
<div class="menu-item menu-item-no-photo menu-item-placeholder-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
                                    7. Geo Si Gi Bbyo Jjim
                            </h4>
<p class="menu-item-details-description">Steamed pork loin with vegetables in thick sauce.</p>
</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $33.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo menu-item-placeholder-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
                                    8. Haemul Bbyo Jjim
                            </h4>
<p class="menu-item-details-description">Steamed pork loin with seafood in thick sauce.</p>
</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $43.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo menu-item-placeholder-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
<a href="/menu/geo-si-gi-flushing/item/9-busut-janchi-bulgogi">9. Busut Janchi Bulgogi</a>
</h4>
<p class="menu-item-details-description">Mushroom with marinated beef.</p>

</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $33.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo menu-item-placeholder-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
                                    10. Dakdori Tang
                            </h4>
<p class="menu-item-details-description">Potato and chicken spicy casserole. Spicy.</p>
</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $33.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo menu-item-placeholder-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
                                    11. Boodae Jungol
                            </h4>
<p class="menu-item-details-description">Sausage casserole mixed with meat and vegetable. Spicy.</p>
</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $31.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo menu-item-placeholder-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
                                    12. Saengtae Jungol
                            </h4>
<p class="menu-item-details-description">Pollack hot pot. Spicy.</p>
</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $33.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="section-header section-header--no-spacing">
<h2 class="alternate" id="side-dishes">
                    Side Dishes
                </h2>
</div>
<div class="u-space-b3">
<div class="menu-item menu-item-no-photo menu-item-placeholder-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
                                    13. Gaeran Mari
                            </h4>
<p class="menu-item-details-description">Korean style vegetable omelet.</p>
</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $15.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
<a href="/menu/geo-si-gi-flushing/item/14-sogogi-japchae">14. Sogogi Japchae</a>
</h4>
<p class="menu-item-details-description">Glass noodle with pork and mixed vegetables.</p>

</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $20.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo menu-item-placeholder-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
                                    15. Haemul Pajun
                            </h4>
<p class="menu-item-details-description">Variety seafood with scallions (korean style pancake).</p>
</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $21.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
<a href="/menu/geo-si-gi-flushing/item/16-yet-nal-gamja-jeun">16. Yet Nal Gamja Jeun</a>
</h4>
<p class="menu-item-details-description">Potato pancake (korean style pancake).</p>

</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $19.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo menu-item-placeholder-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
                                    17. Geo Si Gi Dak Bal
                            </h4>
<p class="menu-item-details-description">Stirred chicken foot with spicy sauce. Spicy.</p>
</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $16.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo menu-item-placeholder-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
                                    18. Jok Bal
                            </h4>
<p class="menu-item-details-description">Steamed pork legs.</p>
</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $26.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo menu-item-placeholder-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
                                    19. Maewun Jok Bal
                            </h4>
<p class="menu-item-details-description">Steamed pork's legs with spicy special sauce.</p>
</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $30.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
<a href="/menu/geo-si-gi-flushing/item/20-tofu-kimchi-jeyuk-bokkum">20. Tofu Kimchi Jeyuk Bokkum</a>
</h4>
<p class="menu-item-details-description">Panfried kimchi and pork with vegetables, tofu in spicy sauce.</p>

</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $22.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo menu-item-placeholder-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
                                    21. Nak Ji Bokkum
                            </h4>
<p class="menu-item-details-description">Stir fried octopus with special sauce. Spicy.</p>
</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $24.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo menu-item-placeholder-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
<a href="/menu/geo-si-gi-flushing/item/22-mukeungi-and-godeung-uh-jjim">22. Mukeungi and Godeung-uh Jjim</a>
</h4>
<p class="menu-item-details-description">Pickled nappa cabbage with mackerel casserole.</p>

</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $18.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
<a href="/menu/geo-si-gi-flushing/item/23-soondae-bokkum">23. Soondae Bokkum</a>
</h4>
<p class="menu-item-details-description">Stir fried pork intestines with vegetables. Spicy.</p>

</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $22.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo menu-item-placeholder-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
                                    24. La Galbi Gui
                            </h4>
<p class="menu-item-details-description">Grilled thick sliced beef-ribs.</p>
</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $29.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
<a href="/menu/geo-si-gi-flushing/item/25-mukeunji-bossam">25. Mukeunji Bossam</a>
</h4>
<p class="menu-item-details-description">Pickled nappa cabbage with boiled pork.</p>

</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $30.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo menu-item-placeholder-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
                                    26. Godeungeo Gui
                            </h4>
<p class="menu-item-details-description">Grilled mackerel dish.</p>
</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $15.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo menu-item-placeholder-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
<a href="/menu/geo-si-gi-flushing/item/27-jaeyuk-bokkeum">27. Jaeyuk Bokkeum</a>
</h4>
<p class="menu-item-details-description">Stir-fried spicy pork.</p>

</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $24.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo menu-item-placeholder-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
                                    28. Oh-sam Bokkeum
                            </h4>
<p class="menu-item-details-description">Stir-fried spicy squid and pork.</p>
</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $24.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo menu-item-placeholder-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
                                    29. Haemul Duk Bokgi
                            </h4>
<p class="menu-item-details-description">Stir-fried rice cake with seafood.</p>
</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $17.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
<a href="/menu/geo-si-gi-flushing/item/30-cheese-duk-bokgi">30. Cheese Duk Bokgi</a>
</h4>
<p class="menu-item-details-description">Stir-fried rice cake with cheese.</p>

</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $20.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
<a href="/menu/geo-si-gi-flushing/item/31-chulpan-bulgogi">31. Chulpan Bulgogi</a>
</h4>
<p class="menu-item-details-description">Grilled Korean beef on a cast-iron pan.</p>

</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $25.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="section-header section-header--no-spacing">
<h2 class="alternate" id="lunch">
                    Lunch
                </h2>
</div>
<div class="u-space-b3">
<div class="menu-item menu-item-no-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
<a href="/menu/geo-si-gi-flushing/item/32-tukbaegi-gamja-tang-lunch">32. Tukbaegi Gamja Tang Lunch</a>
</h4>
<p class="menu-item-details-description">Potato and pork loin spicy casserole in hot stone pot.</p>

</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $11.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo menu-item-placeholder-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
                                    33. Poydagi Haejang Guk Lunch
                            </h4>
<p class="menu-item-details-description">Bone of pork with vegetables in mild soup.</p>
</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $8.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo menu-item-placeholder-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
                                    34. Ul Bbong Tang Dduk Bae Gi Lunch
                            </h4>
<p class="menu-item-details-description">Bone of pork and seafood with thick noodles. Spicy.</p>
</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $11.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo menu-item-placeholder-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
                                    35. Junjoo Kongnamul Haejang Guk Lunch
                            </h4>
<p class="menu-item-details-description">Bean sprouts in spicy soup with rice.</p>
</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $9.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo menu-item-placeholder-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
                                    36. Woorung Denjang Jjigae Lunch
                            </h4>
<p class="menu-item-details-description">Freshwater snail with soybean paste stew. Spicy.</p>
</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $10.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
<a href="/menu/geo-si-gi-flushing/item/37-mukeunji-kimchi-jjigae-lunch">37. Mukeunji Kimchi Jjigae Lunch</a>
</h4>
<p class="menu-item-details-description">Pickled nappa cabbage with kimchi and pork stew.</p>

</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $9.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo menu-item-placeholder-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
                                    38. Busut Bulgogi Ddukbaegi Lunch
                            </h4>
<p class="menu-item-details-description">Mushroom and bulgogi in hot stone pot.</p>
</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $11.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo menu-item-placeholder-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
                                    39. Mukenunji and Godeung-uh Jjim Lunch
                            </h4>
<p class="menu-item-details-description">Pickled nappa cabbage with mackerel casserole.</p>
</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $15.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo menu-item-placeholder-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
                                    40. Godeungeo Gui Lunch
                            </h4>
<p class="menu-item-details-description">Grilled mackerel dish.</p>
</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $11.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
<a href="/menu/geo-si-gi-flushing/item/41-seafood-soon-doo-boo-lunch">41. Seafood Soon Doo Boo Lunch</a>
</h4>
<p class="menu-item-details-description">Soft bean curb casserole in spicy broth.</p>

</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $9.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo menu-item-placeholder-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
                                    41. Beef Soon Doo Boo Lunch
                            </h4>
<p class="menu-item-details-description">Soft bean curb casserole in spicy broth.</p>
</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $9.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo menu-item-placeholder-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
                                    42. Sanuki Udon Lunch
                            </h4>
<p class="menu-item-details-description">Japanese style u-don.</p>
</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $9.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
<a href="/menu/geo-si-gi-flushing/item/43-boodae-jjigae-lunch">43. Boodae Jjigae Lunch</a>
</h4>
<p class="menu-item-details-description">Sausage stew mixed with meat and vegetable. Spicy.</p>

</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $9.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo menu-item-placeholder-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
                                    44. Don Katsu Lunch
                            </h4>
<p class="menu-item-details-description">Pork cutlet.</p>
</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $11.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo menu-item-placeholder-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
<a href="/menu/geo-si-gi-flushing/item/45-al-tang-lunch">45. Al Tang Lunch</a>
</h4>
<p class="menu-item-details-description">Role (fish egg) soup. Spicy.</p>

</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $10.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo menu-item-placeholder-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
                                    46. Saengtae Jjigae Lunch
                            </h4>
<p class="menu-item-details-description">Pollack stew. Spicy.</p>
</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $10.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo menu-item-placeholder-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
<a href="/menu/geo-si-gi-flushing/item/47-nakgi-dolsot-lunch">47. Nakgi Dolsot Lunch</a>
</h4>
<p class="menu-item-details-description">Cuttle fish or octopus bibimbap in hot stone pot.</p>

</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $11.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo menu-item-placeholder-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
                                    47. O Jing Auh Dolsot Lunch
                            </h4>
<p class="menu-item-details-description">Cuttle fish or octopus bibimbap in hot stone pot.</p>
</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $11.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo menu-item-placeholder-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
                                    48. Jae Yuk Dolsot Lunch
                            </h4>
<p class="menu-item-details-description">Bibimbap with pork and vegetables in hot stone pot.</p>
</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $11.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="menu-item menu-item-no-photo menu-item-placeholder-photo">
<div class="arrange">
<div class="arrange_unit">
<div class="arrange">
<div class="arrange_unit arrange_unit--fill menu-item-details menu-item-no-photo">
<h4>
                                    49. Naju Woo Rung Ssam Bap Lunch
                            </h4>
<p class="menu-item-details-description">Rice wrapped in assorted vegetables with pond snails.</p>
</div>
<div class="menu-item-prices arrange_unit">
<ul>
<li class="menu-item-price-amount">
                $16.95
            </li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
</div>