{% extends "header-footer.html" %}

{% block content %}
<style>
.center {
    margin: auto;
    width: 70%;
    padding: 10px
}
.btn-primary {
    float: right;
    background-color: #9939beb6;
}
</style>


<div class="center">
    <h1>Content</h1>
    <form action="{% url 'travel-distance' 1 %}" method="post">{% csrf_token %}
        <button class="btn btn-primary" type="submit">Walking</button>
    </form>
    <form action="{% url 'travel-distance' 2 %}" method="post">{% csrf_token %}
        <button class="btn btn-primary" type="submit">Driving</button>
    </form>
</div>
{% endblock %}