{% extends "header-footer.html" %}

{% block content %}

<div class="center">
    <h1>Forgot Your Password?</h1>
    <br/><br/>

    {% if signal == 400 %}
        <p style='color:red;'>Invalid Username</p>
    {% endif %}

    <p>Enter your username below and we will send you a link to your email address.</p>
    
    <h3>Username</h3>
    <br/>
    <form action="{% url 'send_pass' %}" method="post">
        {{ form.as_p }}
        <input type="text" name="username" placeholder="Username">
        <br/><br/>

        <button class="btn btn-primary" type="submit">Submit</button>
    </form>

</div>

{% endblock %}